/* styles.css for Rucha Literate */

.row-content{
    padding-bottom: 30px;
    margin-bottom: 5px;
}

.jumbotron{
    
    background-color:#ffcc00;
    
}

.text-pink{
    color:#ff0066;
    font-weight: bold;
}

.font-cute{
    font-family: 'Bellota', cursive;
}

footer{
    background-image: linear-gradient(#ffcc00, #ffff66);
    padding: 20px 0px;
}